.Main-Page {
  min-height: 100vh;
  position: relative; /* Ensure that child elements can be positioned absolutely */
}

.first-image {
  display: flex;
  width: 100%;
  height: 23.4375rem;
  flex-shrink: 0;
  background: url(/src/Components/Pages/Assets/Images/posterimage.jpeg) lightgray 50% / cover no-repeat;
  position: relative; /* Relative positioning to position child elements */
}

.logout-overlay {
  position: absolute; /* Absolute positioning */
  top: 2%; /* Adjust as needed */
  right: 2%; /* Adjust as needed */
  background-color: rgba(255, 252, 252, 0.9); /* Semi-transparent background for better visibility */
  color: red; /* Text color for contrast */
  padding: 0.5rem 1rem; /* Padding for better button appearance */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 1rem; /* Font size for the button */
  z-index: 10; /* Ensures it stays above other content */
}

.logout-overlay.logout-overlay:hover{
  background-color: rgb(219, 197, 197);
  color: red;
}