/* Common styles */
body {
  font-family: Arial, sans-serif;
}

.content {
  background-color: #00ffff17;
  padding: 20px;
}

.box {
  display: flex;
  align-items: center;
  background-color: rgb(125 201 236 / 32%);
  margin-top: 10%;
  padding: 50px;
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  padding-left: 20px;
  font-size: x-large;
}

.impact {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#fimage {
  margin-left: 20%;
}

.image-container-abt {
  position: relative;
  width: 100%;
}

.image-container-abt img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.image-container-abt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 60px;
}

.guidance {
  padding: 30px;
  text-align: center;
}

.guidance h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact {
  margin-top: 5em;
  width: 100%;
  padding: 60px;
  text-align: center;
  background-image: url("./Assets/Images/contact_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact h1 {
  color: black;
  font-size: 5em;
  font-weight: 800;
}

.contact h2 {
  color: black;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-items {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.contact-item {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-quary {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (min-width: 768px) {
  .contact-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }

  .contact-item p {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .text-overlay {
    font-size: 80px;
  }

  .guidance h1 {
    font-size: 60px;
  }

  .contact h1 {
    font-size: 60px;
  }

  .contact h2 {
    font-size: 40px;
  }
}
@media (max-width: 300px) {
  .abt_content {
    height: 200vh;
  }
}
